@import views.html.components.Heading1
@import views.html.helper.CSPNonce
@import config.AppConfig
@import uk.gov.hmrc.govukfrontend.views.html.components.GovukLayout
@import uk.gov.hmrc.govukfrontend.views.html.components.TwoThirdsMainContent
@import uk.gov.hmrc.hmrcfrontend.views.html.helpers.HmrcStandardFooter
@import uk.gov.hmrc.hmrcfrontend.views.html.helpers.HmrcHead
@import uk.gov.hmrc.hmrcfrontend.views.html.helpers.HmrcLanguageSelectHelper
@import uk.gov.hmrc.hmrcfrontend.views.html.helpers.HmrcScripts

@this(  govukLayout: GovukLayout,
        hmrcInternalHeader: HmrcInternalHeader,
        hmrcStandardFooter: HmrcStandardFooter,
        hmrcHead: HmrcHead,
        hmrcLanguageSelectHelper: HmrcLanguageSelectHelper,
        hmrcScripts: HmrcScripts,
        defaultMainContent: TwoThirdsMainContent,
        h1: Heading1,
        govukBackLink: GovukBackLink)

@(  pageTitle: String,
    maybePageHeader: Option[String] = None,
    maybeUser: Option[AuthorisedUser] = None,
    maybeAdditionalScriptsBlock: Option[Html] = None,
    maybeMainContentLayout: Option[Html => Html] = Some(defaultMainContent(_)),
    maybeBackButtonUrl: Option[play.api.mvc.Call] = None
)(  contentBlock: Html)(implicit request: RequestHeader, messages: Messages, appConfig: AppConfig)

@headBlock = {
    <link href='@routes.Assets.versioned("/stylesheets/main.css")' media="screen" rel="stylesheet" type="text/css" />
    <script src='@{s"${appConfig.assetsPrefix}/javascripts/vendor/modernizr.js"}' type='text/javascript'></script>
}

@bodyEndDefault = {
    <div id="global-app-error" class="app-error hidden"></div>

    <script type="text/javascript">var ssoUrl = "";</script>
    <script src="@{s"${appConfig.assetsPrefix}/javascripts/application.min.js"}" type="text/javascript"></script>
    <script language="JavaScript" type="application/javascript" src="@routes.Assets.versioned("javascripts/nrs.js")"></script>
}


@maybeUserName = @{
    maybeUser.map(u => Html(u.userName))
}

@maybeBackLink = @{
    maybeBackButtonUrl.map { url =>
        govukBackLink(BackLink(href = url.toString, content = Text(messages("site.back"))))
    }
}

@nrsHeaderBlock = {
    @hmrcInternalHeader(
        params = InternalHeader(
            homepageUrl = "https://www.gov.uk/",
            serviceName = Some(Messages("service.name")),
            serviceUrl = routes.StartController.showStartPage().url,
            language = En
        )
    )
}

@betaBannerAndContentBlock() = {
  @helpers.beta_banner(maybeUserName)
  @maybeBackLink
  @h1(id="pageHeader", content = Text(maybePageHeader.getOrElse(pageTitle)))
  @contentBlock
}

@govukLayout(
    pageTitle = Some(pageTitle),
    headBlock = Some(hmrcHead(nonce = CSPNonce.get, headBlock = Some(headBlock))),
    headerBlock = Some(nrsHeaderBlock),
    scriptsBlock = Some(hmrcScripts(nonce = CSPNonce.get, scriptsBlock = maybeAdditionalScriptsBlock)),
    beforeContentBlock = None,
    footerBlock = Some(hmrcStandardFooter(accessibilityStatementUrl = None)),
    mainContentLayout = maybeMainContentLayout,
    assetPath = Some(uk.gov.hmrc.hmrcfrontend.controllers.routes.Assets.at("govuk").url),
    cspNonce = CSPNonce.get,
    bodyEndBlock = Some(bodyEndDefault)
)(betaBannerAndContentBlock)

