@import views.html.components.Heading1
@import views.html.helper.CSPNonce
@import config.AppConfig
@import uk.gov.hmrc.govukfrontend.views.html.components.GovukLayout
@import uk.gov.hmrc.govukfrontend.views.html.components.TwoThirdsMainContent
@import uk.gov.hmrc.hmrcfrontend.views.html.helpers.HmrcStandardFooter
@import uk.gov.hmrc.hmrcfrontend.views.html.helpers.HmrcHead
@import uk.gov.hmrc.hmrcfrontend.views.html.helpers.HmrcLanguageSelectHelper
@import uk.gov.hmrc.hmrcfrontend.views.html.helpers.HmrcScripts

@this(  govukLayout: GovukLayout,
        hmrcInternalHeader: HmrcInternalHeader,
        hmrcStandardFooter: HmrcStandardFooter,
        hmrcHead: HmrcHead,
        hmrcLanguageSelectHelper: HmrcLanguageSelectHelper,
        hmrcScripts: HmrcScripts,
        defaultMainContent: TwoThirdsMainContent,
        h1: Heading1,
        govukBackLink: GovukBackLink)

@(  pageTitle: String,
    maybePageHeader: Option[String] = None,
    maybeUser: Option[AuthorisedUser] = None,
    maybeMainContentLayout: Option[Html => Html] = Some(defaultMainContent(_)),
    maybeBackButtonUrl: Option[play.api.mvc.Call] = None,
    maybeHeadBlock: Option[Html] = None,
    maybeBodyEndBlock: Option[Html] = None
)(content: Html)(implicit request: RequestHeader, messages: Messages, appConfig: AppConfig)


@banner = {
  <div>
      @maybeUserNameSpan
  </div>
  <div>
    @maybeBackLink
  </div>
}

@maybeUserNameSpan = @{
  maybeUser.map { user =>
    Html(s"""<span id="username" class="user-name govuk-body">${messages("site.welcome")} <strong>${user.userName}</strong></span>""")
  }
}

@maybeBackLink = @{
    maybeBackButtonUrl.map { url =>
        govukBackLink(BackLink(href = url.toString, content = Text(messages("site.back"))))
    }
}

@nrsHeaderBlock = {
    @hmrcInternalHeader(
        params = InternalHeader(
            homepageUrl = "https://www.gov.uk/",
            serviceName = Some(Messages("service.name")),
            serviceUrl = routes.StartController.showStartPage().url,
            language = En
        )
    )
}

@contentBlock() = {
  @banner
  @h1(id="pageHeader", content = Text(maybePageHeader.getOrElse(pageTitle)))
  @content
}

@govukLayout(
    pageTitle = Some(pageTitle),
    headBlock = Some(hmrcHead(nonce = CSPNonce.get, headBlock = maybeHeadBlock)),
    headerBlock = Some(nrsHeaderBlock),
    scriptsBlock = Some(hmrcScripts(nonce = CSPNonce.get)),
    beforeContentBlock = None,
    footerBlock = Some(hmrcStandardFooter()),
    mainContentLayout = maybeMainContentLayout,
    assetPath = Some(uk.gov.hmrc.hmrcfrontend.controllers.routes.Assets.at("govuk").url),
    cspNonce = CSPNonce.get,
    bodyEndBlock = maybeBodyEndBlock
)(contentBlock)

