.table-cell--green {
  background-color: #b2d9c4;
}

.text--grey {
  color: #c6c6c6;
}

.text--black {
  color: black;
}

.result-retrieve {
  .start-retrieval {
    display: block;
  }
  .retrieval-in-progress {
    display: none;
  }
  .retrieval-complete {
    display: none;
  }
  &.retrieval-in-progress {
    .start-retrieval {
      display: none;
    }
    .retrieval-in-progress {
      display: block;
    }
    .retrieval-complete {
      display: none;
    }
  }
  &.retrieval-complete {
    .start-retrieval {
      display: none;
    }
    .retrieval-in-progress {
      display: none;
    }
    .retrieval-complete {
      display: block;
    }
  }
  &.retrieval-failed {
    .start-retrieval {
      display: none;
    }
    .retrieval-in-progress {
      display: none;
    }
    .retrieval-complete {
      display: none;
    }
  }
}