.result-retrieve {
  margin-bottom: 0.78947em;
  border-bottom: 1px solid #bfc1c3;
  .start-retrieval {
    display: block;
  }
  .retrieval-incomplete {
    display: none;
  }
  .retrieval-complete {
    display: none;
  }
  .retrieval-failed {
    display: none;
  }
  &.retrieval-incomplete {
    color: #6F777B;
    .start-retrieval {
      display: none;
    }
    .retrieval-incomplete {
      display: block;
    }
    .retrieval-complete {
      display: none;
    }
    .retrieval-failed {
      display: none;
    }
  }
  &.retrieval-complete {
    .start-retrieval {
      display: none;
    }
    .retrieval-incomplete {
      display: none;
    }
    .retrieval-complete {
      display: inline-block;
    }
    .retrieval-failed {
      display: none;
    }
  }
  &.retrieval-failed {
    border: 5px solid #b10e1e;
    background: #fff;
    padding: 1em;
    h2 {
      margin-top: 0;
    }
    .start-retrieval {
      display: none;
    }
    .retrieval-incomplete {
      display: none;
    }
    .retrieval-complete {
      display: none;
    }
    .retrieval-failed {
      display: block;
    }
  }
}

#resultsFound {
  h2 {
    padding: 2px;
  }
}

#notFound {
  padding: 2px;
}