@*
* Copyright 2021 HM Revenue & Customs
*
*@

@*
* imports
* cats.implicits.catsSyntaxOptionId
* langswitch.Languages
*@
@import config.ViewConfig
@import uk.gov.hmrc.govukfrontend.views.Aliases.{BackLink, FooterItem, Text}
@import uk.gov.hmrc.hmrcfrontend.views.Aliases.{Header, ReportTechnicalIssue}
@import uk.gov.hmrc.hmrcfrontend.views.html.helpers.HmrcStandardFooter

@this(
        govukLayout: uk.gov.hmrc.govukfrontend.views.html.layouts.govukLayout,
        twoThirdsMainContent: uk.gov.hmrc.govukfrontend.views.html.layouts.twoThirdsMainContent,
        govukBackLink: uk.gov.hmrc.govukfrontend.views.html.components.GovukBackLink,
        hmrcHeader: uk.gov.hmrc.hmrcfrontend.views.html.components.hmrcHeader,
        languageSelect: uk.gov.hmrc.hmrcfrontend.views.html.components.hmrcLanguageSelect,
        reportTechnicalIssues: uk.gov.hmrc.hmrcfrontend.views.html.components.hmrcReportTechnicalIssue,
        hmrcTrackingConsentSnippet: uk.gov.hmrc.hmrcfrontend.views.html.helpers.hmrcTrackingConsentSnippet,
        standardBetaBanner: uk.gov.hmrc.hmrcfrontend.views.config.StandardBetaBanner,
        hmrcStandardFooter: HmrcStandardFooter
)

@(title: String,
        sidebarLinks: Option[Html] = None,
        contentHeader: Option[Html] = None,
        bodyClasses: Option[String] = None,
        mainClass: Option[String] = None,
        scriptElem: Option[Html] = None,
        backUrl: Option[String] = None,
        headScripts: Option[Html] = None,
        canSignOut: Boolean = true,
        signOutContinueUrl: Option[String] = None,
        navTitle: Option[String] = None,
        allowTimeoutDialog: Boolean = true,
        useTrackingConsent: Boolean = true,
        fullWidth: Boolean = false
)(mainContent: Html)(implicit request: Request[_], messages: play.api.i18n.Messages, viewConfig: ViewConfig)

@head = {
    <link href='@routes.Assets.versioned("stylesheets/directDebitFrontend-print.css")' media="print" rel="stylesheet" type="text/css">
    <link href='@routes.Assets.versioned("stylesheets/all.css")' rel="stylesheet" type="text/css">
    <link href='@routes.Assets.versioned("stylesheets/application.css")' media="all" rel="stylesheet" type="text/css" />

    @headScripts
}

@beforeContentBlock = {
    @backUrl.map { call =>
        @govukBackLink(BackLink(href = call, classes = "govuk-!-display-none-print", attributes = Map("id" -> "back"), content = Text(Messages("back"))))
    }
}

@contentBlock = {
    @contentHeader

    @mainContent

    <div class="govuk-!-display-none-print">
    @reportTechnicalIssues(ReportTechnicalIssue(serviceCode = "direct-debit-frontend"))
    </div>
}

@govukLayout(
    pageTitle = Some(title),
    headBlock = Some(head),
    headerBlock = Some(hmrcHeader(Header(
        homepageUrl = "https://www.gov.uk",
        serviceName = Some(navTitle.getOrElse(Messages("header.default"))),
        phaseBanner = Some(standardBetaBanner(viewConfig.feedbackUrl)),
        signOutHref = if(canSignOut) Some(s"${viewConfig.signOut}${signOutContinueUrl.map(url => s"?continue=$url").getOrElse("")}") else None
    ))),
    scriptsBlock = None,
    beforeContentBlock = Some(beforeContentBlock),
    footerItems = Seq(
        FooterItem(text = Some(Messages("footer_cookies.link")), href = Some(viewConfig.cookiesUrl)),
        FooterItem(text = Some(Messages("footer_privacyNotice.link")), href = Some(viewConfig.privacyNoticeUrl)),
        FooterItem(text = Some(Messages("footer_termsAndConditions.link")), href = Some(viewConfig.termsAndConditionsUrl)),
        FooterItem(text = Some(Messages("footer_helpUsingGovUk.link")), href = Some(viewConfig.helpUsingGovUkUrl))
    ),
    bodyEndBlock = None,
    mainContentLayout = (if (!fullWidth) Some(twoThirdsMainContent.apply _) else None)
)(contentBlock)